<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="welcome-container">
        <h1>SELAMAT DATANG DI APLIKASI PEMINJAMAN BUKU</h1>
    </div>

    <style>
        .welcome-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            text-align: center;
        }
        h1 {
            font-size: 3em;
            font-weight: bold;
            color: #333;
        }
    </style>
</body>
</html>